<VirtualHost *:80>
    ServerName {{ apache_server_fqdn }}

    ProxyPreserveHost On
    ProxyPass "/" "http://{{ hostvars['tomcat_server']['ansible_host'] }}:8080/sample/"
    ProxyPassReverse "/" "http://{{ hostvars['tomcat_server']['ansible_host'] }}:8080/sample/"

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
